@import "../../index.scss";

.slider {
  padding: 184px 28% 229px;

  @include tablet {
    padding: 92px 28% 115px;
  }

  @include mobile {
    padding: 46px 28% 57px;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__slide {
    text-align: center;
    color: #f2f4f7;
  }

  &__title {
    font-weight: 300;
    font-size: 72px;
    line-height: 83px;

    @include tablet {
      font-size: 36px;
      line-height: 42px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__description {
    font-size: 18px;
    margin-top: 32px;
    font-weight: 300;
    line-height: 21px;

    @include tablet {
      font-size: 16px;
      margin-top: 18px;
    }

    @include mobile {
      font-size: 14px;
      margin-top: 16px;
    }
  }

  &__button {
    margin-top: 80px;
    background: none;
    border: none;

    @include tablet {
      margin-top: 60px;
    }

    @include mobile {
      margin-top: 40px;
    }
  }

  &__dots {
    list-style: none;
    margin-top: 64px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;

    @include tablet {
      margin-top: 35px;
      padding: 10px;
      gap: 17px;
    }

    @include mobile {
      margin-top: 25px;
      padding: 8px;
      gap: 10px;
    }
  }

  &__dot {
    width: 16px;
    height: 16px;
    border: 3.5px solid rgba(196, 196, 196, 0.16);
    border-radius: 50%;

    @include tablet {
      width: 13px;
      height: 13px;
    }

    @include mobile {
      width: 10px;
      height: 10px;
    }

    &--active {
      border-color: #ffffff;
    }
  }
}
